<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <title>{{ number }}</title>

    <!-- MathJax -->
    <script>
        MathJax = {
            tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']],
                displayMath: [['$$', '$$'], ['\\[', '\\]']]
            }
        };
    </script>
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

</head>

<body>
    <h1>Integer Factorization for {{ number }}</h1>

    <!--
    <form id="dynamicForm" onsubmit="updateAction()" method="get">
        <label for="number">Enter an integer:</label>
        <input type="number" id="number" name="value" required value="{{ number }}">
        <button type="submit">Go</button>
    </form>

    <script>
        function updateAction() {
            const number = document.getElementById("number").value;
            const form = document.getElementById("dynamicForm");
            form.action = `/integer_factorization/${number}`;
        }
    </script>
    -->

    <div>
        $$
        {{ number }} =
        {% for (i, factor) in factors.iter().enumerate() %}
            {{ factor }} 
            {% if i + 1 < factors.len() %} * {% endif %} 
        {% endfor %} 
        $$ 
    </div>

    <table>
        <thead>
            <td>Factors</td>
        </thead>
        {% for factor in factors %}
        <tr>
            <td>{{ factor }}</td>
        </tr>
        {% endfor %}
    </table>


    <a href="/">← Back to Index</a>
</body>

</html>